/* Formatting sequence margin, top, left,right, height, width, position, padding, border, background-color, color, font-size, text-align, and the rest follows */

*{
  margin:0;
  font-family: 'Roboto Slab',sans-serif;
}

.navbar{
  padding:0px;
  background-color : #171717 !important;
}

.navbar.navbar-light.bg-light{
  height: 10vh;
  width: 100%;
}

.container-fluid{
  padding:1px;
}

.row{
  margin:0;
  width: 100%;
  justify-content : space-evenly;
}

#login 
{
  height: 10vh;
  width: 20%;
  padding : 15px;
  color: rgb(7, 250, 7);
  font-size : 24px;
}

#airport
{
   color: rgb(7, 250, 7);
  font-size: 24px;
}

#map
{
  height: 75vh;
  width: 100%;
  z-index : 0;
}

#flight-data
{
  height: 15vh; 
  padding: 5px;
  background-color : #171717;
  color : rgb(7, 250, 7);
  font-size: 15px;
}

div.col.form-control{
  height: 9vh;
  padding: 5px;
  justify-content: space-evenly;
}

.div.col.form-control label{
  margin-bottom : 5px;
  padding:1px;
  height: 25px;
  width : 100%; 
  text-align : left;
}

div.col.form-control input{
 margin:0;
  width:100%;
  padding : 1px;
  font-size : 16px;
}

 /* Log in Form CSS-------------------------------- */

.login-form{
  top: 0;
  height:100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  display: none; /*-Form will not appear on starup.--------*/
  z-index: 1000; /*----make this layer above the map------*/
}

.login-content{
  height: 520px;
  width:350px;
  position: relative; 
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  overflow: hidden;
}

.login-content .header{
  padding: 15px;
  border-bottom: 15px solid silver;
  background-color: rgba(250, 218, 38, 0.9);
} 

.close{
  top:0;
  right: 8px;
  position: absolute;
  font-weight:bold;
  font-size: 35px;
  transform: rotate(45deg);
  cursor: pointer;
  }

.login{
  height: 350px;
  padding: 25px; 
  background-image: url("images/sq-aircraft.jpg");
  color:Yellow;
  object-fit: contain;
}

.login-control {
  margin : 10px;
  width:100%;
  position: relative;
  padding-bottom: 25px;
  }  

.login-control label{
  margin: 10;
  font-size : 18px;
}

input { 
  width: 90%;
  padding : 10px;
  border: 2px solid;
  border-radius: 4px;
  display: block;
  font-size: 16px; 
} 

.btn-submit{

 margin:10px;
 height: 5vh;
  width: 90%;
 align-content: center;

  border-radius: 4px;
  background-color: rgba(250, 218, 38, 0.9);
  color : #fff;
  font-size: 20px;
  
} 

.message{
  height: 15%;
  position: relative;
  padding : 14px;
  border-top : 15px solid silver;
  background-color: rgba(250, 218, 38, 0.986);
  font-size : 20px;
  text-align: center;
  color: white;
}

/* Media Query Section */
/* Recommended by bootstrap */

/* Small devices (portrait phones, less than 576px) */
@media (max-width: 575.9px) {
/* menu bar setting  */
.navbar.navbar-light.bg-light{
    height: 10vh;
    width: 100%;
  }

.navbar{
  padding:0px;
  background-color : #171717 !important;
}

.container-fluid{
  padding:1px;
}

#login 
{
  padding : 15px;
  font-size : 24px;
}

#airport
{ 
  left: 100px;
  padding : 15px 50px 15px 15px;
  font-size: 24px;
}

/* Map setting  */
#map{
  height: 50vh;
  width: 100%;
}

/* Flight data layout setting */
div#flight-data
{
  height: 52vh;
  width: 100%;
  padding: 2px;
  background-color : #171717;
  color : white;
}

#header{
  margin : 2px 0px 1px 0px;
  padding : 2px 2px 1px 5px;
  height: 50vh;
}

#header h2{

  font-size: 20px;
  padding : 2px;
  margin: 0;
}

.form.row.form{
margin: 1px;
padding: 2px;
 top: 10px;
 height: 45vh;
 width: 100%;
 flex-direction : column;
}

.form-control{
  height: 10vh;
  width: 45vw;
  padding: 2px;
  margin: 3px;
}

.col.form-control{
  height: 8vh; 
}

#header input{
 height : 50%
}

.col.form-control label{
  margin-bottom : 5px;
  height: 20px;
  width : 110px; 
  font-size : 12px;
}

/* login form setting */
.login-form{
  height:50vh;
  width: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  display: none; /*-Form will not appear on starup.--------*/
  z-index: 1000; /*----make this layer above the map------*/
}

.login-content{
  height:400px;
  width:300px;
  position: relative; 
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  overflow: hidden;
}

.login-content .header{
  padding: 16px;
  border-bottom: 8px solid silver;
  background-color: rgba(250, 218, 38, 0.9);
} 

.login-content h2{  
  padding: 5px;
  font-size: 20px;
  text-align : center;
}

.close{
  top:0;
  right: 8px;
  position: absolute;
  font-weight:bold;
  font-size: 35px;
  transform: rotate(45deg);
  cursor: pointer;
  }

#map.login-content.login{
  height: 50px;
  width: 50%;
  padding: 5px; 
  background-image: url("images/sq-aircraft.jpg");
  color:Yellow;
}


.login-control label{
  font-size : 16px;
}

input { 
  width: 90%;
  padding : 5px;
  border: 2px solid;
  border-radius: 4px;
  display: block;
  font-size: 14px; 
} 

.btn-submit{

 height: 5vh;
  width: 90%;
 align-content: center;
  border-radius: 4px;
  background-color: rgba(250, 218, 38, 0.9);
  color : #fff;
  font-size: 14px;
  
} 
}
/* Media devices (landscape phones, tablets 576px and up) */
@media (min-width: 576px) and (max-width: 768px){


.container-fluid{
  padding:1px;
}


/* Flight data layout setting */
div#flight-data
{
  height: 52vh;
  width: 100%;
  padding: 2px;
  background-color : #171717;
  color : white;
}

#header{
  margin : 2px 0px 1px 0px;
  padding : 2px 2px 1px 5px;
  height: 50vh;
}

#header h2{

  font-size: 0.8em!important;
  padding : 2px;
  margin: 0;
}

.form.row.form{
margin: 1px;
padding: 2px;
 top: 10px;
 height: 45vh;
 width: 100%;
 flex-direction : column;
}

.form-control{
  height: 8vh;
  width: 40vw;
  padding: 2px;
  margin: 2px;
}

.col.form-control{
  height: 8vh; 
}

#header input{
 height : 50%
}

.col.form-control label{
  margin-bottom : 5px;
  height: 15px !important;
  width : 110px; 
  font-size : 12px;
}

.login-control label{
  font-size : 0.7em !important;
}

input { 
  width: 90%;
  padding : 5px;
  border: 2px solid;
  border-radius: 4px;
  display: block;
  font-size: 14px; 
} 

}
  
/* // Media devices (landscape phones, tablets 576px and up)
@media (min-width: 576px) and (max-width: 990px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */