/* Formatting sequence position, top, left,right, height, width, position, margin padding, border, background-color, color, font-size, text-align, and the rest follows */

*{
  margin:0;
  font-family: 'Roboto Slab',sans-serif;
}


.navbar{
  padding:0px;
  background-color : #171717 !important;
}

.navbar.navbar-light.bg-light{
  height: 10vh;
  width: 100%;
}

.container-fluid{
  padding:1px;
}

.row{
  margin:0;
  width: 100%;
  justify-content : space-evenly;
}

#login{
  height: 10vh;
  width: 20%;
  padding : 15px;
  color: rgb(7, 250, 7);
  font-size : 24px;
}

#airport{
 color: rgb(7, 250, 7);
  font-size: 24px;
}

#map{
  height: 75vh;
  width: 100%;
  z-index : 0;
}

#flight-data{
  padding: 1px;
  background-color : #171717;
  color : rgb(7, 250, 7);
  font-size: 15px;
}

div.col.form-control{
  height: 9vh;
  padding: 5px 5px 10px 5px;
  justify-content: space-evenly;
}

.div.col.form-control label{
  height: 25px;
  width : 100%; 
  margin-bottom : 5px;
  padding:1px;
  text-align : left;
}

div.col.form-control input{
  width:100%;
  margin:0;
  padding : 1px;
  font-size : 16px;
}

 /* User Log in Form CSS-------------------------------- */

.login-form{
  position: absolute;
  top: 0;
  height:100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  display: none; /*-Form will not appear on starup.--------*/
  z-index: 1000; /*----make this layer above the map------*/
}

.login-content{
  position: relative; 
  height: 520px;
  width:350px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  overflow: hidden;
}

.login-content .header{
  padding: 15px;
  border-bottom: 15px solid silver;
  background-color: rgba(250, 218, 38, 0.9);
} 

.close{
  position: absolute;
  top:0;
  right: 8px;
  font-weight:bold;
  font-size: 35px;
  transform: rotate(45deg);
  cursor: pointer;
  }

.login{
  height: 350px;
  padding: 10px; 
  background-image: url("images/sq-aircraft.jpg");
  color:rgba(250, 218, 38, 0.9);
  object-fit: contain;
}

.login-control{
  margin : 10px;
  width:100%;
  position: relative;
  padding-bottom: 25px;
  }  

.login-control label{
  margin: 10;
  font-size : 18px;
}

input{ 
  width: 90%;
  padding : 10px;
  border-radius: 4px;
  font-size: 16px;
  text-align : center;
  display: block; 
} 

.btn-submit{
 margin:0px 10px 20px 15px;
 height: 7vh;
 width: 90%;
 border-radius: 4px;
 background-color: rgba(250, 218, 38, 0.9);
 color : #fff !important;
font-size: 28px;
align-content: center;
} 

.message{
  position: relative;
  height: 15%;
  padding : 14px;
  border-top : 15px solid silver;
  background-color: rgba(250, 218, 38, 0.95);
  color: white;
  font-size : 20px;
  text-align: center;
}

/* Media Query Section */
/* Dimension recommended by bootstrap */

/* Small devices (portrait phones, less than 576px) */
/* Tested with Google Chrome Development Tool for mobile devices of iPhone X */
@media (min-width: 299px) and (max-width: 575.9px) {
/* menu bar setting  */

.navbar.navbar-light.bg-light{
  height: 6vh;
  width: 100%;
  padding:0px;
  background-color : #171717 !important;
  }

a#login{
  font-size: 1em;
}

a#airport{
  font-size: 1em;
}

.container-fluid{
  padding:1px;
}

#login {
  padding : 15px;
  font-size : 24px;
}

#airport{ 
  left: 100px;
  padding : 15px 50px 15px 15px;
  font-size: 24px;
}

/* Map setting  */
#map{
  height: 55vh;
  width: 100%;
}

/* login form setting */
div.login-form{
  position: absolute;
  top:13px;
  height:47vh;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  display: none; /*-Form will not appear on starup.--------*/
  z-index: 1000; /*----make this layer above the map------*/
}

div.login-content{
  height:350px;
  width:275px;
  border-radius: 10px;
  overflow: hidden;
}

div.header{
  height: 8vh;
  border-bottom: 5px solid rgb(214, 213, 213);
  background-color: rgba(250, 218, 38, 0.9);
} 

.login-content h2{  
  font-size: 18px;
  text-align : center;
}

.close{
  position: absolute;
  top:0;
  right: 8px;
  font-weight:bold;
  font-size: 35px;
  transform: rotate(45deg);
  cursor: pointer;
}

div.login{
  position: relative;
  height: 255px;
  width: 100%;
  margin: 0;
  padding:0;
  background-image: url("images/sq-aircraft.jpg");
  color:rgba(250, 218, 38, 0.9);
}

form#form{
  position: absolute;
  top: 0;
  height: 30vh;
  padding: 5px;
}

div.login-control{
  margin : 5px 10px 20px 10px;

}

.login-control label{
  font-size : 18px;

}

input#name { 
  position : absolute;
  top : 3vh;
  width: 90%;
  margin:5px;
  padding : 5px;
  border: 2px solid;
  border-radius: 4px;
  font-size: 16px; 
  display: block;
} 

input#password{ 
  width: 90%;
  margin:5px;
  padding : 5px;
  border-radius: 4px;
  font-size: 16px;
  display: block;
} 

.btn-submit{
  position: absolute;
  top: 175px; 
  left: 11px;
  height: 5vh;
  width:87% ;
  margin : 10px;
  font-size: 16px;
} 

div.message{
  position:absolute;
  top:300px;
  width: 100%;
  padding: 5px;
  border-top:10px solid silver;
}

p#remarks{
  left: 50vw;
  width:auto;
  margin:0;
  font-size : 14px;
  text-align: center;
} 
/*
 Flight data layout setting */
div#flight-data
{
  width: 100%;
  padding: 2px;
  background-color : #171717;
  color : white;
}

div#header{
  height: 38vh;
  margin : 2px 0px 1px 0px;
  padding : 2px 2px 1px 5px;
}

#header h2{
  padding : 2px;
  margin: 0;
  font-size: 14px;
}

.form.row.form{
 height: 34vh;
 width: 100%;
}

div.col.form-control{
  height: 8vh;
  width: 40vw;
  padding:0;
  margin: 1px;
}

#header input{
 height : 50%
}

div.col.form-control label{
  height:   20px;
  width : 140px;
  margin-bottom : 5px; 
}
}

/* Middle devices up to 1200px */
/* Tested with Google Chrome Development Tool for mobile devices of iPad Pro */
@media (min-width: 576px) and (max-width: 991.9px) {
/* menu bar setting  */

.navbar.navbar-light.bg-light{
  height: 8vh;
  width: 100%;
  padding:0px;
  background-color : #171717 !important;
  }

a#login{
  font-size: 20px;
}

a#airport{
  font-size: 20px;
}

.container-fluid{
  padding:1px;
}

#login {
  padding : 15px;
  font-size : 24px;
}

#airport{ 
  left: 100px;
  padding : 15px 50px 15px 15px;
  font-size: 24px;
}

/* Map setting  */
#map{
  height: 68vh;
  width: 100%;
}

/* login form setting */
div.login-form{
  position: absolute;
  height:68vh;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  display: none; /*-Form will not appear on starup.--------*/
  z-index: 1000; /*----make this layer above the map------*/
}

div.login-content{
  height:550px;
  width:375px;
  border-radius: 10px;
  overflow: hidden;
}

div.header{
  height: 11vh;
  border-bottom: 5px solid rgb(214, 213, 213);
  background-color: rgba(250, 218, 38, 0.9);
} 

.login-content h2{  
  margin: 20px 0px 20px 0px;
  font-size: 26px;
  text-align : center;
  
}

.close{
  position: absolute;
  top:0;
  right: 8px;
  font-weight:bold;
  font-size: 55px;
  transform: rotate(45deg);
  cursor: pointer;
}

div.login{
  position: relative;
  height: 355px;
  width: 100%;
  margin: 0;
  padding:0;
  background-image: url("images/sq-aircraft.jpg");
  color:rgba(250, 218, 38, 0.9);
}

form#form{
  position: absolute;
  top: 0;
  height: 30vh;
  width:100%
  padding: 5px;
}

div.login-control{
  margin : 5px 10px 20px 10px;
}

.login-control label{
  font-size : 24px;
}

input#name { 
  position : absolute;
  top : 3vh;
  width: 90%;
  margin:5px;
  padding : 5px;
  border: 2px solid;
  border-radius: 4px;
  font-size: 24px; 
  display: block;
} 

input#password{
  width: 90%;
  margin:5px;
  padding : 5px;
  border-radius: 4px;
  font-size: 24px;
  display: block; 
} 

a#sumbit.btn.btn-submit{
  position: absolute;
  top: 175px;
  height: 5vh;
  width:87%;
  margin : 10px; 
  color:white !important;
  font-size: 16px;
} 

div.message{
    position:absolute;
    top:470px;
    width: 100%;
    padding: 5px;
    border-top:10px solid silver;
}

p#remarks{
  width:auto;
  margin:5px;
  font-size : 24px;
  text-align: center;
} 

/* Flight data layout setting */
div#flight-data
{
  width: 100%;
  padding: 2px;
  background-color : #171717;
  color : white;
}

div#header{
  height: 27vh;
  margin : 2px 0px 1px 0px;
  padding : 2px 2px 1px 5px;
}

#header h2{
  padding : 2px;
  margin: 2px;
  font-size: 24px;
}

.form.row.form{
 height: 20vh;
 width: 100%;
}

div.col.form-control{
  height: 8vh;
  width: 40vw;
  margin: 1px;
  padding:0;
}

#header input{
 height : 50%
}

div.col.form-control label{
  height: 20px;
  width : 140px; 
  margin-bottom : 5px;
}
}

@media (min-width: 992px) {
/* menu bar setting  */

.navbar.navbar-light.bg-light{
  height: 14vh;
  width: 100%;
  padding:0px;
  background-color : #171717 !important;
}

a#login{
  font-size: 28px;
}

a#airport{
  font-size: 28px;
}

.container-fluid{
  padding:1px;
}

#login {
  padding : 15px;
  font-size : 24px;
}

#airport{ 
  left: 100px;
  padding : 15px 50px 15px 15px;
  font-size: 24px;
}

/* Map setting  */
#map{
  height: 72vh;
  width: 100%;
}

/* login form setting */
div.login-form{
  position: absolute;
  height:72vh;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  display: none; /*-Form will not appear on starup.--------*/
  z-index: 1000; /*----make this layer above the map------*/
}

div.login-content{
  position: absolute; 
  top : 50px;
  width:400px;
  border-radius: 10px;
  overflow: hidden;
}

div.header{
  height: 11vh;
  border-bottom: 5px solid rgb(214, 213, 213);
  background-color: rgba(250, 218, 38, 0.9);
} 

.login-content h2{  
  margin : 10px;
  padding: 8px;
  font-size: 26px;
  text-align : center;
}

.close{
  position: absolute;
  top:0;
  right: 8px;
  font-weight:bold;
  font-size: 50px;
  transform: rotate(45deg);
  cursor: pointer;
}


form#form{
  height: 350px;
  width:375px;
  padding: 5px 5px 5px 20px;
}

div.login-control{
  margin : 5px 5px 5px 15px;
}

.login-control label{
  font-size : 22px; 
}

input#name {  
  width: 90%;
  margin:5px;
  padding : 5px;
  border: 2px solid;
  border-radius: 4px;
  font-size: 28px;
  display: block; 
} 

input#password{ 
  width: 90%;
  padding : 5px;
  border-radius: 4px;
  font-size: 28px;
  display: block; 
} 

div.message{
    position:absolute;
    top:440px;
    width: 100%;
    padding: 5px;
    border-top:10px solid silver;
}

p#remarks{
  left: 50vw;
  width:auto;
  font-size : 24px;
  margin:0;
  text-align: center;
} 

/*Flight data layout setting */
div#flight-data
{
  width: 100%;
  padding: 2px;
  background-color : #171717;
  color : white;
}

div#header{
  height: 38vh;
  margin : 2px 0px 1px 0px;
  padding : 2px 2px 1px 5px;
}

#header h2{
  margin: 0;
  padding : 2px;
  font-size: 18px;
}

.form.row.form{
 height: 34vh;
 width: 100%;
}

div.col.form-control{
  height: 8vh;
  width: 40vw;
  margin: 1px;
}

#header input{
  height : 50%
}

div.col.form-control label{
  height:   20px;
  width : 140px; 
  margin-bottom : 5px;
  font-size : 13px;
}
}


