*{
  margin:0;
  padding: 0;
  font-family: sans-serif;
}

#airport{
  position: absolute;
  height: 100%;
  width:65%;
  background-image : url("images/changi-airport.jpg");
  background-size: cover;
  background-position: left;
  transition: all 2s;
}

.container{
  position: absolute;
  top:0;
  left : 0;
  height: 100%;
  width:35%;
  background: rgba(85,85,85,0.9);
  backdrop-filter: blur(50px);
}

.info{
  position: absolute;
  top: 45%;
  right: 0;
  width: 550px;
  color: #fff;
  transform: translateY(-50%);
}

.info h1{
   margin-bottom : 15px;
  font-size: 32px;
  letter-spacing: 5px;
}

.info p{ 
  margin: 20px 0;
  color: #f0eef1;
  font-size: 14px;
  line-height: 25px;
}

.info input{
  width: 50%;
  padding : 8px 10px;
  border: 2px solid #fff;
  border-radius: 20px;
  background: transparent;
  color: #fff;
  font-size: 12px;
  outline: none;
}

::placeholder{
  color: #ccc;
}

.slider{
  position: absolute;
  left: 130px;
  bottom: 25px;
  display: flex;
  align-items: center;
}

#prev{
  width: 30px;
  cursor: pointer;
}

#middle{
  margin: 0px;
  padding : 20px;
  cursor: pointer;
 }

#next{
  width: 30px;
  padding : 20px;
  cursor: pointer;
}

@media (min-width:299px)and (max-width:575.9px){


div#airport{
  height: 300px;
  width: 450px;
  background-image : url("images/changi-airport.jpg");
  background-size: cover;
  background-position:  center;
  transition: all 2s;
}
  
div.container{
  position: absolute;
  top:275px;
  left : 0;
  height: 525px;
  width:440px;
  background: rgba(85,85,85,0.9);
}

div.info{
  position: absolute;
  top: 45%;
  left: 10px;
  width: 350px; 
  color: #fff;
  transform: translateY(-50%);
}

h1#airport-title{
  padding: 5px 5px 5px 5px;
  font-size : 16px;
}

p#airport-info{
  left:0;
  margin: 2px 0;
  color: #f0eef1;
  font-size: 13px;
  line-height: 13px;
}

div.slider{
  position: absolute;
  top : 425px;
  left: 10px;
  height: 75px;
  width: 330px;
}

div#prev{
  position: relative;
  margin:0;
  padding:0;
  cursor: pointer;
}

div#middle{
  position: absolute;
  left:55px;
  margin:0;
  padding:0; 
  cursor: pointer;
}

div#next{
  position: absolute;
  right:0;
  margin:0;
  padding:0;
  cursor: pointer;
}

.bi.bi-backspace{
  position: relative;
  width: 3em;
  cursor: pointer;
}

.bi.bi-house-door-fill{
  position: relative;
  left: 25vw;
  width: 3em;
  cursor: pointer;
}
  
.bi.bi-backspace-reverse{
  position: relative;
  left: 50vw;
  width: 3em;
  cursor: pointer;
} 
}

@media (min-width: 575.9px)and (max-width:991.9px){
  
div#airport{
  height: 45vh;
  width: 150vw;
  background-image : url("images/changi-airport.jpg");
  background-size: cover;
  background-position:  center;
  transition: all 2s;
}
  
div.container{
  position: absolute;
  top:25vh;
  left : 0;
  height: 80vh;
  width:100%;
  background: rgba(85,85,85,0.9);
}

div.info{
  position: absolute;
  top: 480px;
  left: 10px;
  height:500px;
  width: 745px;
  color: #fff;
  transform: translateY(-50%);
}

h1#airport-title{
  padding: 10px 5px 5px 5px;
  font-size : 30px;
}

p#airport-info{
  margin: 2px 5px 5px 10px;
  color: #f0eef1;
  font-size: 18px;
  line-height: 18px;
}

 div.slider{
  position: absolute;
  top : 700px;
  left: 30px;
  height:50px;
  width: 700px;  
}

div#prev{
  position: relative;
  margin:0;
  padding:0;
  cursor: pointer;
}

div#middle{
  position: relative;
  left:300px;
  margin:0;
  padding:0;
  cursor: pointer;
}

div#next{
  position: relative;
  left: 600px;
  margin:0;
  padding:0;
  cursor: pointer;
}
 
} 

@media (min-width: 992px) and (max-width:1199.9px){
  
#airport{
  position: absolute;
  right:0;
  height:800px;
  width:1045px;
  background-position: left;
  transition: all 2s;
}

div.container{
height: 800px;
width: 400px;
}

div.info{
  position: absolute;  
  top: 50%;
  left: 5px;
  height: 800px;
  width: 385px;
  color: #fff;
  transform: translateY(-50%);
}

h1#airport-title{
  position: absolute;
  top: 20px;
  padding: 15px 0px 5px 5px;
  margin: 15px 2px 5px 5px;  
  font-size : 28px;
}

p#airport-info{ 
  position: absolute;
  top:140px;
  height:550px;
  width:375px;
  padding : 10px;
  color: #f0eef1;
  font-size: 16px;
  line-height: 18px;
}

div.slider{
  position: absolute;
  left: 15px;
  bottom: 25px;
  height:50px;
  width: 350px;
}

div#prev{
  position: absolute;
}

div#middle{
  position: absolute;
  right:120px;
}

div#next{
  position: absolute;
  right: 0px;
  margin:0;
  padding:0;
}

}

@media (min-width: 1200px){
  
#airport{
  position: absolute;
  right:0;
  background-position: left;
  transition: all 2s;
}

div.info{
  position: absolute;  
  top: 500px;
  left: 5px;
  height: 1000px;
  width: 675px;
  color: #fff;
  transform: translateY(-50%);
}

h1#airport-title{
  position: absolute;
  top: 50px;
  padding: 15px 0px 5px 5px;
  margin: 15px 2px 5px 5px;  
  font-size : 40px;
}

p#airport-info{ 
  position: absolute;
  top: 180px;
  height: 800px;
  width: 650px;
  padding: 10px;
  color: #f0eef1;
  font-size: 22px;
  line-height: 24px;
}

div.slider{
  position: absolute;
  left: 15px;
  bottom: 25px;
  height:50px;
  width: 650px;
}

div#prev{
  position: absolute;
}

div#middle{
  position: absolute;
  right:280px;
}

div#next{
  position: absolute;
  right: 20px;
  margin:0;
  padding:0;
}

}